---
import { getPosts } from "@/lib/sanity/";
import getSortedPosts from "@/utils/getSortedPosts";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Main from "@/layouts/Main.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import { getSiteConfig } from "@/lib/getSiteConfig";

export const prerender = false;
export const revalidate = 60;

const { page: current = "1" } = Astro.params;
const currentPage = Number(current);
const site = await getSiteConfig();

const allPosts = getSortedPosts(await getPosts());
const pageSize = site.postPerPage ?? 4;
const totalPosts = allPosts.length;
const lastPage = Math.ceil(totalPosts / pageSize);

const start = (currentPage - 1) * pageSize;
const end = start + pageSize;
const posts = allPosts.slice(start, end);

// ページネーション情報生成
const pagination = {
  data: posts,
  currentPage,
  lastPage,
  url: {
    current: `/posts/page/${currentPage}`,
    prev: currentPage > 1 ? `/posts/page/${currentPage - 1}` : undefined,
    next: currentPage < lastPage ? `/posts/page/${currentPage + 1}` : undefined,
  },
};
---

<Layout title={`Posts | ${site.title}`}>
  <Header />

  <Main pageTitle="Posts" pageDesc="All the articles I've posted.">
    {Array.isArray(posts) && posts.length > 0 ? (
      <ul>
        {posts.map(post => (
          <Card
            title={post.title}
            slug={post.slug}
            pubDate={post.pubDate}
            modDate={post.modDate}
            description={post.description}
            tags={post.tags}
          />
        ))}
      </ul>
    ) : (
      <p>投稿が見つかりませんでした。</p>
    )}
    <Pagination page={pagination} basePath="/posts/page" />
  </Main>

  <Footer />
</Layout>
